force-app/main/default/flows/Account_Mass_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Start_Batchable_Job</name>
        <label>Start Batchable Job</label>
        <locationX>188</locationX>
        <locationY>864</locationY>
        <actionName>AccountMassUpdateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>batchSize</name>
            <value>
                <elementReference>Batch_Size</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>concatZipCodes</name>
            <value>
                <elementReference>SelectedZipCodes</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>JobId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Zip_Codes</name>
        <label>Set Zip Codes</label>
        <locationX>75</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>SelectedZipCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Zip_Codes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Batchable_Job</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Radio_All</name>
        <choiceText>All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>Radio_Enter</name>
        <choiceText>Enter Values Manually (semicolon-separated)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Radio_Decision</name>
        <label>Radio Decision</label>
        <locationX>177</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Start_Batchable_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Selected</defaultConnectorLabel>
        <rules>
            <name>Text_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Zip_Codes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Radio_Enter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Zip_Codes</targetReference>
            </connector>
            <label>Text Selected</label>
        </rules>
    </decisions>
    <formulas>
        <name>ShortJobId</name>
        <dataType>String</dataType>
        <expression>LEFT({!JobId}, 15)</expression>
    </formulas>
    <interviewLabel>Account Mass-Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Mass-Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Entry_Screen</name>
        <label>Entry Screen</label>
        <locationX>186</locationX>
        <locationY>237</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Radio_Decision</targetReference>
        </connector>
        <fields>
            <name>Zip_Codes</name>
            <choiceReferences>Radio_All</choiceReferences>
            <choiceReferences>Radio_Enter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Zip Codes</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Use with Caution! This option is not suggested as it may take an extensive amount of time to update the records, cause failure during such update and prevent the users from interacting with Accounts or related records.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Make sure to start the process during off-hours to minimize the impact to end-users.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Zip_Codes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Radio_All</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Enter_Zip_Codes</name>
            <fieldText>Enter Zip Codes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Zip_Codes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Radio_Enter</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Batch_Size</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>200.0</numberValue>
            </defaultValue>
            <fieldText>Batch Size</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter a value between 1 and 200 (including). Any other value will be ignored.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>322</locationX>
        <locationY>1129</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;Something went wrong. Check the provided input or lower the batch size and try again.&lt;/p&gt;&lt;p&gt;See the error message below for details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>44</locationX>
        <locationY>1131</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;A Job was successfully queued to update accounts. Use the job ID below to track the status of the job and any errors it may throw.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Short Job ID&lt;/b&gt;: {!ShortJobId}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Long Job ID&lt;/b&gt;: {!JobId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Go to &lt;b&gt;Apex Jobs &lt;/b&gt;in setup and use the provided &lt;b&gt;Short Job ID&lt;/b&gt; to track the status.&lt;/li&gt;&lt;li&gt;Go to &lt;b&gt;Log&lt;/b&gt; object and use the provided&lt;b&gt; Long Job ID&lt;/b&gt; to see if there the job threw any errors while processing the accounts.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>59</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Entry_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedZipCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
