force-app/main/default/flows/GetAccountContactShippingRole.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_Contact_Return</name>
        <label>Check Contact Return</label>
        <locationX>489</locationX>
        <locationY>291</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Check_Contact_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.ContactId</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact</targetReference>
            </connector>
            <label>Decision Check Contact Return</label>
        </rules>
    </decisions>
    <description>Add Opportunity Contact Role / Default Shipping Contact Role/Relationship</description>
    <interviewLabel>Get Account Contact Shipping Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Account Contact Shipping Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Contact</name>
        <label>Add Contact</label>
        <locationX>496</locationX>
        <locationY>450</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Shipping Contact</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Contact Record</description>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>498</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_Return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipping Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>67</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Get Account from Opportunity</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <description>Stores the ID number of the opportunity that triggered the flow</description>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
