force-app/main/default/flows/Pilot_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>282</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deselect_Pilot_Checkbox</name>
        <label>Deselect Pilot Checkbox</label>
        <locationX>29</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Opportunities.Pilot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pilot_Checkbox</name>
        <label>Set Pilot Checkbox</label>
        <locationX>882</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>Get_New_Pilot.Pilot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Pilot_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Pilot_Set</name>
        <label>New Pilot Set?</label>
        <locationX>546</locationX>
        <locationY>558</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pilot_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Pilot</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Automatically selects and deselects &quot;Pilot&quot; checkbox on related Opportunities when an Opportunity is added to a pilot lookup on Pilot Account.</description>
    <interviewLabel>Pilot Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pilot Opportunity Flow</label>
    <loops>
        <name>Iterate_Opportunities</name>
        <label>Iterate Opportunities</label>
        <locationX>163</locationX>
        <locationY>553</locationY>
        <collectionReference>Get_Pilot_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deselect_Pilot_Checkbox</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Old_Pilot_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_New_Pilot</name>
        <label>Get New Pilot</label>
        <locationX>715</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Pilot_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Pilot_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pilot__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pilot_Opportunities</name>
        <label>Get Pilot Opportunities</label>
        <locationX>163</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pilot__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pilot__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Pilot_Opportunity</name>
        <label>Update New Pilot Opportunity</label>
        <locationX>1072</locationX>
        <locationY>577</locationY>
        <inputReference>Get_New_Pilot</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Pilot_Opportunities</name>
        <label>Update Old Pilot Opportunities</label>
        <locationX>392</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>New_Pilot_Set</targetReference>
        </connector>
        <inputReference>UpdatedOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>37</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Get_Pilot_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pilot_Opportunity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ARC_Pilot__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
